.wrapper {
  width: 760px;
  height: 70vh;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  padding-left: 30px;
  border: 1px solid gray;
  border-radius: 15px;
  overflow: auto;
}

.comment {
  margin-bottom: 15px;
}

.freekick {
  background-image: url(https://emojio.ru/images/apple-b/203c.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  float: left;
}

.goal {
  background-image: url(https://st.depositphotos.com/1000459/2436/i/450/depositphotos_24366251-stock-photo-soccer-ball.jpg);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  float: left;
}
